body {
  margin: 0;
}

#title {
  height: 40px;
}

.title-link {
  background-color: rgb(230, 180, 34);
  font-size: 30px;
}

.title-link a {
  color: black;
  text-decoration: none;
}

.link-item {
  font-size: 15px;
  margin-left: 15px;
}

#Dem_Source_Selector {
  font-size: 15px;
  margin-left: 10px;
}

#map {
  height: calc(100vh - 40px);
}

/* モバイルデバイス用のスタイル */
@media (max-width: 600px) {
  #title {
      height: 25px;
  }
  .title-link {
      font-size: 15px;
  }
  #Dem_Source_Selector {
    width: 80px; /* 既存の設定 */
  }
  #map {
    height: calc(100vh - 25px); /* #title の高さを25pxに合わせて調整 */
  }
}